.container {
  display: flex;
  margin: 20px 30px 20px 30px;
  justify-content: right;
}

.container > input {
  padding: 15px;
  border-radius: 10px;
  border: 3px solid rgb(220, 220, 220);
}
